[user]
	name = Bonflintstone
	email = freddy@railslove.com
	signingkey = CC7B757DAECBB941
[core]
	autocrlf = false
	excludesFile = ~/.global-gitignore
  pager = bat
[push]
	default = simple
[commit]
	gpgsign = true
[init]
	defaultBranch = main
