*
!.gitconfig
!.rubocop.yml
!.tmux.conf
!.vimrc
!.gitignore
!.eslintrc.js
!.global-gitignore

!.config
!.config/*
.config/fish/fish_variables

!.teamocil/
!.teamocil/*

!.ssh/
!.ssh/config
!.prettierrc

!.gnupg
.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
