[user]
	name = Bonflintstone
	email = freddy@railslove.com
	signingkey = CC7B757DAECBB941
[core]
	autocrlf = false
	excludesfile = /home/bonflintstone/.global-gitignore
[push]
	default = simple
[commit]
	gpgsign = true
[init]
	defaultBranch = main
