[user]
	name = Bonflintstone
	email = freddy@railslove.com
	signingkey = 528F2EECB81B53BA8CB507018C695AFC132419F8
[core]
	autocrlf = false
	excludesfile = /home/bonflintstone/.global-gitignore
[push]
	default = simple
[commit]
	gpgsign = true
