*
!.ackrc
!.gitconfig
!.rubocop.yml
!.tmux.conf
!.vimrc
!.zshrc
!.gitignore
!.eslintrc.js
!.global-gitignore
!.rvmrc

!.config
.config/*
!.config/tmuxinator/
!.config/tmuxinator/*
!.config/libinput-gestures.conf
!.config/fish/
!.config/fish/**/*
!.config/omf/
!.config/omf/**/*
!.config/touchegg/
!.config/touchegg/touchegg.conf
!.config/touchegg/
!.config/sway
!.config/sway/**/*
!.config/waybar
!.config/waybar/**/*
!.config/nvim
!.config/nvim/**/*
!.config/khal
!.config/khal/**/*
!.config/alacritty
!.config/alacritty/**/*
!.config/systemd/
!.config/systemd/**/*
!.config/mako/
!.config/mako/**/*

!.teamocil/
!.teamocil/*

!.ssh/
!.ssh/config
!.prettierrc

!.gnupg
.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
