*
!.ackrc
!.gitconfig
!.rubocop.yml
!.tmux.conf
!.vimrc
!.zshrc
!.gitignore
!.scripts
!.scripts/*
!.eslintrc.js
!.global-gitignore
!.rvmrc
!.taskbook.json

!.config
.config/*
!.config/tmuxinator/
!.config/tmuxinator/*
!.config/terminator/
!.config/terminator/*
!.config/libinput-gestures.conf
!.config/fish/
!.config/fish/**/*
!.config/omf/
!.config/omf/**/*
!.config/touchegg/
!.config/touchegg/touchegg.conf
!.config/touchegg/
!.config/sway
!.config/sway/*
!.config/waybar
!.config/waybar/*

!.teamocil/
!.teamocil/*

!.ssh/
!.ssh/config
!.prettierrc

!.todo-txt/
!.todo-txt/*

!.todo/
!.todo/*
