* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Mono Nerd Font Complete Mono";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(0.2, 0.2, 0.2, 0.4);
    color: #CCC;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #CCC;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-bottom: 2px solid #BBBBBB;
}

#mode {
    background: #64727D;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-battery, #mode, #idle_inhibitor, #custom-khal {
    padding: 0 5px 0 5px;
    border-left: 1px solid #555
}

#custom-scratchpad {
  padding: 0 20px;
}

#clock {
}

#window {
  margin-left: 40px;
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
}

#temperature {
}

#temperature.critical {
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
}

#idle_inhibitor {
}

#idle_inhibitor.deactivated {
    color: #888;
}

#idle_inhibitor.activated {
}
